<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<html>

<div th:replace="fragments/head :: headFragment"></div>

<body>
<div th:replace="fragments/header :: headerFragment"> This header content is going to be replaced.</div>

<div class="container">
    <div class="row">
        <div class="col-2" layout:fragment="sidebar">
            <h1>wawawwawa</h1>
            <p>tetettete</p>
        </div>
        <div class="col" layout:fragment="content">
            <h1>11111</h1>
            <p>22222</p>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footerFragment"></div>

</body>
</html>